pywin32==311
pyautogui==0.9.54
mss==10.1.0
opencv-python==4.13.0.92
numpy==2.4.2
screen-brightness-control==0.27.0
ultralytics==8.4.14
openwakeword==0.6.0
sounddevice==0.5.5
SpeechRecognition==3.14.5
scikit-learn==1.8.0
sentence-transformers==5.7.0
wandb==0.30.0
google-generativeai==0.8.6
Pillow==12.1.1
