pywin32
pyautogui
mss
opencv-python
numpy
screen-brightness-control
ultralytics
openwakeword==0.6.0
sounddevice
SpeechRecognition
scikit-learn
sentence-transformers==5.7.0
wandb
google-generativeai
Pillow
